/* Base */

/* :root {
    --main: #ff5e00;
    --main1: #00c2cb;
    --navBege: #f1e4cf;
    --botãoHover:#ffff00; 
    --backLight: #b6dddc;
    --backDark: #00457e;
  } */

:root {
    --main: #ff5e00;
    --navBege: #e9cea2;
    --botãoHover:#ffff00; 
    --backLight: #beddb6;
    --backDark: #00457e;
  }

.main{
  color: var(--main);
}

.baby{ 
  color: var(--backLight);
}

.deep{
  color: var(--backDark);
}

.fdeep{
  background-color: var(--backDark);
}

.fbege{
  background-color: var(--navBege);
}

body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}

body {
  background-color: var(--backLight);
}

header{
  margin-left: 0;
  margin-right: 0;
}

.bgimg-1, .bgimg-0 {
  background-position: top;
  background-size: cover;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='800' height='500' preserveAspectRatio='none' viewBox='0 0 800 500'%3e%3cg mask='url(%26quot%3b%23SvgjsMask6388%26quot%3b)' fill='none'%3e%3crect width='800' height='500' x='0' y='0' fill='url(%23SvgjsLinearGradient6389)'%3e%3c/rect%3e%3cpath d='M735.36 350.03L726.81 359.57 715.63 353.32 707.08 362.86 695.9 356.61 687.35 366.15 676.17 359.9' stroke='rgba(0%2c 69%2c 126%2c 1)' stroke-width='2.14' stroke-dasharray='4%2c 4'%3e%3c/path%3e%3crect width='324' height='324' clip-path='url(%26quot%3b%23SvgjsClipPath6390%26quot%3b)' x='-117.22' y='-36.44' fill='url(%23SvgjsPattern6391)' transform='rotate(43.41%2c 44.78%2c 125.56)'%3e%3c/rect%3e%3crect width='156' height='156' clip-path='url(%26quot%3b%23SvgjsClipPath6392%26quot%3b)' x='354.06' y='179.08' fill='url(%23SvgjsPattern6393)' transform='rotate(167.79%2c 432.06%2c 257.08)'%3e%3c/rect%3e%3crect width='120' height='120' clip-path='url(%26quot%3b%23SvgjsClipPath6394%26quot%3b)' x='737.13' y='76.07' fill='url(%23SvgjsPattern6395)' transform='rotate(299.66%2c 797.13%2c 136.07)'%3e%3c/rect%3e%3cpath d='M129.39 288.88 L178.07 187.82999999999998L204.94192208871243 289.56692208871243z' stroke='rgba(255%2c 94%2c 0%2c 1)' stroke-width='2.85' stroke-dasharray='3%2c 3'%3e%3c/path%3e%3ccircle r='41.666666666666664' cx='305.72' cy='204.58' stroke='rgba(0%2c 69%2c 126%2c 1)' stroke-width='2.8' stroke-dasharray='3%2c 2'%3e%3c/circle%3e%3crect width='252' height='252' clip-path='url(%26quot%3b%23SvgjsClipPath6396%26quot%3b)' x='43.87' y='49.2' fill='url(%23SvgjsPattern6397)' transform='rotate(150.55%2c 169.87%2c 175.2)'%3e%3c/rect%3e%3cpath d='M665.03 563.4300000000001 L741.1800000000001 405.09000000000003L589.4003160612133 370.5553160612133z' fill='rgba(255%2c 94%2c 0%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask6388'%3e%3crect width='800' height='500' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='90.62%25' y1='-15%25' x2='9.38%25' y2='115%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient6389'%3e%3cstop stop-color='rgba(190%2c 221%2c 181%2c 1)' offset='0.16'%3e%3c/stop%3e%3cstop stop-color='rgba(233%2c 206%2c 162%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern6391'%3e%3cpath d='M0 6L3 0L6 6' stroke='rgba(0%2c 194%2c 203%2c 1)' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath6390'%3e%3ccircle r='81' cx='44.78' cy='125.56'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern6393'%3e%3cpath d='M0 6L3 0L6 6' stroke='rgba(0%2c 194%2c 203%2c 1)' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath6392'%3e%3ccircle r='39' cx='432.06' cy='257.08'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern6395'%3e%3cpath d='M0 6L3 0L6 6' stroke='rgba(255%2c 94%2c 0%2c 1)' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath6394'%3e%3ccircle r='30' cx='797.13' cy='136.07'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='252' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern6397'%3e%3crect width='252' height='3' x='0' y='0' fill='rgba(255%2c 94%2c 0%2c 1)'%3e%3c/rect%3e%3crect width='252' height='3' x='0' y='3' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath6396'%3e%3ccircle r='63' cx='169.87' cy='175.2'%3e%3c/circle%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");  min-width: 100%;
  min-height: 30%;
}

.w3-bar .w3-button {
  padding: 16px;
}

section {
    margin: 0;
}

.titulo{
  font-size: 15vh;
  font-weight: 900;
  text-align: center;
  color: var(--main);
}

.subtitulo{
  font-weight: 600;
}

.cttmsg{
  font-size: xx-large;
}

/* Botão Especial */

.custom-btn {
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}

.btn-14 {
    background: var(--main);
    border: none;
    z-index: 1;
}
.btn-14:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 5px;
    background-color: var(--backLight);
    background-image: linear-gradient(315deg, var(--backLight) 0%, var(--navBege) 90%);
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
        7px 7px 20px 0px rgba(0,0,0,.1),
        4px 4px 5px 0px rgba(0,0,0,.1);
    transition: all 0.3s ease;
}
.btn-14:hover {
    color: #000;
}
.btn-14:hover:after {
    top: auto;
    bottom: 0;
    height: 100%;
}
.btn-14:active {
    top: 2px;
}

/* Gerais */

a {
    text-decoration: none;
}

a:focus{
  text-decoration: underline;
}

footer {
    background-color: var(--backDark);
}

.navbar{
    background-color: var(--navBege);
}

.icone-grande{
  font-size: 1500%;
}

.ibtn1:hover{
  color: var(--backDark);
}

.ibtn2:hover{
  color: var(--backLight);
}

.return{
  margin: 15% 0 ;
}

/*Mobile*/
@media (max-width: 768px) {
    .waves {
      height:40px;
      min-height:40px;
    }
    .content {
      height:30vh;
    }
    h1 {
      font-size:24px;
    }

    .titulo{
      font-size: 9vh;
    }
    
    .bgimg-1{
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='400' height='200' preserveAspectRatio='none' viewBox='0 0 400 200'%3e%3cg mask='url(%26quot%3b%23SvgjsMask7904%26quot%3b)' fill='none'%3e%3crect width='400' height='200' x='0' y='0' fill='url(%23SvgjsLinearGradient7905)'%3e%3c/rect%3e%3cpath d='M373.61 147.45L369.66 135.27 380.68 128.74 376.74 116.56 387.76 110.03 383.81 97.85 394.83 91.33' stroke='rgba(255%2c 94%2c 0%2c 1)' stroke-width='1' stroke-dasharray='3%2c 2'%3e%3c/path%3e%3ccircle r='16.666666666666668' cx='272.55' cy='14.33' fill='rgba(0%2c 69%2c 126%2c 1)'%3e%3c/circle%3e%3ccircle r='16.666666666666668' cx='229.37' cy='36.93' fill='rgba(0%2c 194%2c 203%2c 1)'%3e%3c/circle%3e%3cpath d='M405.67999999999995 61.46 L403.64 66.42L407.83599353197064 67.11599353197064z' fill='rgba(0%2c 69%2c 126%2c 1)'%3e%3c/path%3e%3cpath d='M131.45 102.43L139.05 92.13 150.77 97.29 158.38 86.98 170.1 92.14 177.7 81.84 189.43 87' stroke='rgba(255%2c 94%2c 0%2c 1)' stroke-width='1' stroke-dasharray='2%2c 2'%3e%3c/path%3e%3crect width='60' height='60' clip-path='url(%26quot%3b%23SvgjsClipPath7906%26quot%3b)' x='30.56' y='56.01' fill='url(%23SvgjsPattern7907)' transform='rotate(130.61%2c 60.56%2c 86.01)'%3e%3c/rect%3e%3crect width='60' height='60' clip-path='url(%26quot%3b%23SvgjsClipPath7908%26quot%3b)' x='113.94' y='-8.96' fill='url(%23SvgjsPattern7909)' transform='rotate(86.41%2c 143.94%2c 21.04)'%3e%3c/rect%3e%3crect width='120' height='120' clip-path='url(%26quot%3b%23SvgjsClipPath7910%26quot%3b)' x='-51.39' y='-4.95' fill='url(%23SvgjsPattern7911)' transform='rotate(142.55%2c 8.61%2c 55.05)'%3e%3c/rect%3e%3ccircle r='16.666666666666668' cx='287.21' cy='75.43' fill='rgba(0%2c 69%2c 126%2c 1)'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask7904'%3e%3crect width='400' height='200' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='87.5%25' y1='-25%25' x2='12.5%25' y2='125%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient7905'%3e%3cstop stop-color='rgba(190%2c 221%2c 181%2c 1)' offset='0.16'%3e%3c/stop%3e%3cstop stop-color='rgba(233%2c 206%2c 162%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern7907'%3e%3cpath d='M0 6L3 0L6 6' stroke='rgba(0%2c 194%2c 203%2c 1)' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath7906'%3e%3ccircle r='15' cx='60.56' cy='86.01'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='60' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern7909'%3e%3crect width='60' height='3' x='0' y='0' fill='rgba(0%2c 69%2c 126%2c 1)'%3e%3c/rect%3e%3crect width='60' height='3' x='0' y='3' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath7908'%3e%3ccircle r='15' cx='143.94' cy='21.04'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern7911'%3e%3cpath d='M0 6L3 0L6 6' stroke='rgba(0%2c 69%2c 126%2c 1)' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath7910'%3e%3ccircle r='30' cx='8.61' cy='55.05'%3e%3c/circle%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
    }
}

/* Imagem Fixa */

.imagem-fixa {
  background-attachment: fixed;
  background-position: 50% 0;
}

footer div ul li a{
  text-decoration: none;
}

footer div ul li a:hover{
  text-decoration: underline;
}

footer div ul{
  list-style: none;
}

